* {
    margin: 0;
    padding: 0;
}

*:after {
    clear: both;
    display: block;
    content: "";
}

::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: black;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

html,
body,
.col-1-layout,
.login,
.main,
.login-content,
.login-wrapper {
    height: 100%;
}

